<%- include("partials/header") -%>
    <section>
      <h1> <%= kindOfDay %> </h1>

      <h3>TO DO LIST: <%= listTitle%></h3>
      <div class="check-list">
        <% newListItem.forEach(function(item){%>
          <form class="" action="/deleteListItem" method="post">
            <div class="item">
              <input name="itemChecked" value="<%= item._id%>" type="checkbox" onChange="this.form.submit()">
              <p><%= item.name %></p>
            </div>
              <input type="hidden" name="listName" value="<%= listTitle %>"></input>
          </form>

        <% }); %>

      </div>

    </section>


    <form class="" action="/to-do-list" method="post">
      <input type="text" name="listItem">
      <button type="submit" name="list" value= "<%= listTitle %>">submit</button>
    </form>

<%- include("partials/footer") -%>
